In [73]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
df=pd.read_csv(r"C:\Users\sakth\Downloads\Employee-Attrition - Employee-Attrition.csv")

In [74]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [76]:
X=df[['Age','Department','MonthlyIncome','JobSatisfaction','YearsAtCompany','MaritalStatus','OverTime']]

In [77]:
X

,Age,Department,MonthlyIncome,JobSatisfaction,YearsAtCompany,MaritalStatus,OverTime
0,41,Sales,5993,4,6,Single,Yes
1,49,Research & Development,5130,2,10,Married,No
2,37,Research & Development,2090,3,0,Single,Yes
3,33,Research & Development,2909,3,8,Married,Yes
4,27,Research & Development,3468,2,2,Married,No
...,...,...,...,...,...,...,...
1465,36,Research & Development,2571,4,5,Married,No
1466,39,Research & Development,9991,1,7,Married,No
1467,27,Research & Development,6142,2,6,Married,Yes
1468,49,Sales,5390,2,9,Married,No
1469,34,Research & Development,4404,3,4,Married,No

In [78]:
Y=df[['Attrition']]

In [79]:
Y

     Attrition
0          Yes
1           No
2          Yes
3           No
4           No
...        ...
1465        No
1466        No
1467        No
1468        No
1469        No

[1470 rows x 1 columns]

In [80]:
X.isnull().sum()

Age                0
Department         0
MonthlyIncome      0
JobSatisfaction    0
YearsAtCompany     0
MaritalStatus      0
OverTime           0
dtype: int64

In [81]:
Y.isnull().sum()

Attrition    0
dtype: int64

In [82]:
import numpy as np
Q1=X['MonthlyIncome'].quantile(0.25)
Q3=X['MonthlyIncome'].quantile(0.75)
IQR=Q3=Q1
upper_bound=Q3+1.5*IQR
lower_bound=Q1-1.5*IQR
medians=X['MonthlyIncome'].median()
X['MonthlyIncome']=np.where((X['MonthlyIncome']>upper_bound)|(X['MonthlyIncome']<lower_bound),medians,X['MonthlyIncome'])

In [83]:
Q1=X['YearsAtCompany'].quantile(0.25)
Q3=X['YearsAtCompany'].quantile(0.75)
IQR=Q3-Q1
upper_bound=Q3+1.5*IQR
lower_bound=Q1-1.5*IQR
medians=X['YearsAtCompany'].median()
X['YearsAtCompany']=np.where((X['YearsAtCompany']>upper_bound)|(X['YearsAtCompany']<lower_bound),medians,X['YearsAtCompany'])

In [84]:
Q1=X['YearsAtCompany'].quantile(0.25)
Q3=X['YearsAtCompany'].quantile(0.75)
IQR=Q3-Q1
upper_bound=Q3+1.5*IQR
lower_bound=Q1-1.5*IQR
medians=X['YearsAtCompany'].median()
X['YearsAtCompany']=np.where((X['YearsAtCompany']>upper_bound)|(X['YearsAtCompany']<lower_bound),medians,X['YearsAtCompany'])

In [85]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['MaritalStatus']=le.fit_transform(X['MaritalStatus'])
X['OverTime']=le.fit_transform(X['OverTime'])

In [86]:
X=pd.concat([X,pd.get_dummies(X['Department'],dtype="int")],axis=1)

In [87]:
X.drop(columns=['Department'],inplace=True)

In [88]:

X['MonthlyIncome']=X['MonthlyIncome'].astype("int64")
X['YearsAtCompany']=X['YearsAtCompany'].astype("int64")

In [89]:
lt=LabelEncoder()
Y['Attrition']=lt.fit_transform(Y['Attrition'])

In [134]:
Y.value_counts()
Y

      Attrition
0             1
1             0
2             1
3             0
4             0
...         ...
1465          0
1466          0
1467          0
1468          0
1469          0

[1470 rows x 1 columns]

In [91]:
X

,Age,MonthlyIncome,JobSatisfaction,YearsAtCompany,MaritalStatus,OverTime,Human Resources,Research & Development,Sales
0,41,5993,4,6,2,1,0,0,1
1,49,5130,2,10,1,0,0,1,0
2,37,2090,3,0,2,1,0,1,0
3,33,2909,3,8,1,1,0,1,0
4,27,3468,2,2,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
1465,36,2571,4,5,1,0,0,1,0
1466,39,4919,1,7,1,0,0,1,0
1467,27,6142,2,6,1,1,0,1,0
1468,49,5390,2,9,1,0,0,0,1
1469,34,4404,3,4,1,0,0,1,0

In [92]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [93]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
de=DecisionTreeClassifier()
le=LogisticRegression()
de.fit(X_train,Y_train)

DecisionTreeClassifier()

In [94]:
y_pred=de.predict(X_test)

In [95]:
from sklearn.metrics import classification_report
fullreport=classification_report(Y_test,y_pred)

In [96]:
print(fullreport)

              precision    recall  f1-score   support

           0       0.89      0.86      0.87       255
           1       0.25      0.31      0.28        39

    accuracy                           0.79       294
   macro avg       0.57      0.58      0.58       294
weighted avg       0.81      0.79      0.79       294

In [97]:
X

,Age,MonthlyIncome,JobSatisfaction,YearsAtCompany,MaritalStatus,OverTime,Human Resources,Research & Development,Sales
0,41,5993,4,6,2,1,0,0,1
1,49,5130,2,10,1,0,0,1,0
2,37,2090,3,0,2,1,0,1,0
3,33,2909,3,8,1,1,0,1,0
4,27,3468,2,2,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
1465,36,2571,4,5,1,0,0,1,0
1466,39,4919,1,7,1,0,0,1,0
1467,27,6142,2,6,1,1,0,1,0
1468,49,5390,2,9,1,0,0,0,1
1469,34,4404,3,4,1,0,0,1,0

In [98]:
X.rename(columns={'Human Resources':'HumanResources','Research & Development':'Research_Development'},inplace=True)

In [99]:
X

,Age,MonthlyIncome,JobSatisfaction,YearsAtCompany,MaritalStatus,OverTime,HumanResources,Research_Development,Sales
0,41,5993,4,6,2,1,0,0,1
1,49,5130,2,10,1,0,0,1,0
2,37,2090,3,0,2,1,0,1,0
3,33,2909,3,8,1,1,0,1,0
4,27,3468,2,2,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
1465,36,2571,4,5,1,0,0,1,0
1466,39,4919,1,7,1,0,0,1,0
1467,27,6142,2,6,1,1,0,1,0
1468,49,5390,2,9,1,0,0,0,1
1469,34,4404,3,4,1,0,0,1,0

In [100]:
import numpy as np
inputdata=(	27,	3468,	2	,2	,1	,0	,0	,1,	0)
inputdataarray=np.asarray(inputdata)
inputreshape=inputdataarray.reshape(1,-1)
prediction=de.predict((inputreshape))

In [101]:
print(*prediction)

0

In [102]:
import pickle
with open('attrition2.pkl','wb')as file:
    pickle.dump(de,file)